@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Indie+Flower&family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: auto;
}
ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration:150ms;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border-top-left-radius: 20px;
    margin-bottom: 20px;
}
ul li:last-child{
    margin-bottom: 0;
}

ul li:hover{
    background-color: #f9fffc;
}

.second{
    margin-top: 100px;
}

li svg{
    height: 40px;
    width: 40px;
    padding-right: 15px;
}

aside{
    background-color:#df4d4d;
    width: 100%;
    grid-row: 1 / -1;
}
header{
    background-color: #f9fffc;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}
main{
    background-color: #463529;
    width: 100%;
}



/* Header first row */
.icon{
    position: absolute;
    top: 11px;
    left: 15px;
}

.search{
    padding: 5px;
    border-radius: 50px;
    border: none;
    background-color: #d9d4db;
    font-weight: bold;
    padding-left: 35px;
    width: auto;
}

#search{
    margin-top: 25px;
    position: relative;
    padding: 10px;
    margin-left: 20px;
}

.profile{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.bell{
    padding-top: 15px;
}

.profileIcon{
    background-image: url(https://i.redd.it/j2ex7z8tyqf21.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.name{
    font-weight: bold;
}

/* Header second row */
.secondRow{
    display: flex;
    margin-left: 25px;
}

.profileIconBig{
    background-image: url(https://i.redd.it/j2ex7z8tyqf21.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    height: 100px;
    width: 100px;
}

.hello{
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

button:hover{
    transform: scale(0.9);
}

button{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    cursor: pointer;
    min-width: 30%;
    width: auto;
    border: none;
    padding: 10px;
    background-color: #df4d4d;
    color: white;
    border-radius: 15px;
}

/* Sidebar */
.title{
    display: flex;
    font-size: 1.9rem;
    place-content: center center;
    font-weight: bold;
}

/* Main */
.content{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr;
}
.projects div{
    margin: 5px;
    height: 400px;
    width: 400px;
    background-color: red;
    box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 15px 0px rgba(0,0,0,0.75);
}
.projects{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.announcements div{
    height: 700px;
    width: 300px;
    background-color: red;
}

.trending div{
    height: 700px;
    width: 300px;
    background-color: red;
}

a{
    width: 400px;
    height: 400px;
    text-decoration: none;
}
.project{
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration:150ms;
}
.project:hover{
    transform: scale(1.01);
}

h1{
    margin-left: 12px;
}

h2{
    padding: 5px;
    color: #df4d4d;
    background-color: #f9fffc;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#project1{
    background-image: url(./images/rockpaperscissors.png);
}
#project2{
    background-image: url(./images/etchasketch.png);
}

@media only screen and (max-width: 800px) {
    .name, .title p{
        display: none;
    }
    header{
        grid-template-columns: 150px 1fr;
        grid-template-rows: 150px 1fr;
    }
    #search{
        padding-left: 0;
    }
    .profile{
        justify-content: flex-end;
        width: auto;
    }
    .search{
        display: none;
    }
    .secondRow{
        flex-direction: column;
    }
    
    ul li h3{
        display: none;
    }
    ul{ 
        padding-left: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    ul li{
        min-width: fit-content;
        border-radius: 10px ;
    }
    li svg{
        padding-right: 0;
    }
 
}

@media only screen and (max-width: 1370px) {
    .projects{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 950px) {
    .content{
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media only screen and (max-width: 500px) {
  .buttons{
    flex-direction: column;
  }

}